.thumbnail{
    height: 500px;
}
.about-text{
    text-align: right;
}
.newsDisplay{
}
.login-page{
    background-image: url("/img/blue.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.login-page{
    color: white
}
.loginheader{
    margin-top: 30vh;
}
.logintext{
    font-size: 20px
}
.button-text{
    text-align: center;
    margin-top: 30px
}
.btns{
     padding: 10px;
}